<div class="row justify-space-between-md">
  <div class="post-card">
    <h2 class="page-title">New Post</h2>
    <form class="form post-form">
      <div class="post-group">
        <label for="email-login">Content:</label>
        <input class="form-input" type="text" id="new-post" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
  </div>
<section class="container">
  <h3 class="recent-posts">Recent Posts</h3>
  <section class="flex-row justify-center">
    {{#each posts as |post|}}
    {{>post-details}}
    {{/each}}
  </section>
</section>