<div class="row justify-space-between-md">
  <div class="post-card">
    <h2 class="page-title">New Post</h2>
    <form class="post-form">
      <div class="post-group">
        <label for="title-post">Title:</label>
        <input class="form-input" type="text" id="title-post" />
        <label for="new-post">Content:</label>
        <input class="form-input" type="text" id="new-post" />
        <label for="user-post">Username:</label>
        <input class="form-input" type="text" id="user-post" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" value="Submit" id="post-button">Post</button>
      </div>
    </form>
  </div>
<section class="container">
  <h3 class="recent-posts">Recent Posts</h3>
  <section class="flex-row justify-center">
    {{#each posts as |post|}}
    {{>post-details}}
    {{/each}}
  </section>
</section>

<script src="/js/newPost.js"></script>