<section class="container">
  <h3 class="recent-posts">Recent Posts</h3>
  <section class="flex-row justify-center">
    {{#each post.title as |title|}}
    {{> post-details}}
    {{/each}}
  </section>
</section>